# Ignore bundler config.
Hamster/.bundle

# Ignore git's files
Hamster/.git

# Ignore RubyMine's files
Hamster/.idea

# Ignore Vim's files
/*.vim

# Gemfile.lock
Hamster/Gemfile.lock


Hamster/hamster
Hamster/projects/project_*/docker-compose.yaml*
Hamster/unexpected_tasks/**/*-compose.yaml
Hamster/projects/project_0000
Hamster/unexpected_tasks/test_task

/docker/pdf2htmlEX
Hamster/secrets/config.yml
Hamster/secrets/master.key
Hamster/secrets/credentials.yml
secrets/test_key_rspec.key

